nav {
    position: fixed;
    top: 0;
    z-index: 2147483647;
    width: 100%;
    min-width: 1280px;
    height: 58px;
    background: #fff;
    #logo {
        float: left;
        height: 30px;
        margin: 14px 0 0 60px;
        padding: 5px 0 5px 40px;
        background: url(../images/logo.png) no-repeat 0 0;
        background-size: 30px 30px;
        font: 21px/1 "\9ed1\4f53", Tahoma, Helvetica, Arial, sans-serif;
    }
    ul {
        float: right;
        margin: 20px 68px 26px 0;
        li {
            display: inline-block;
            margin-left: 40px;
            a {
                font: 14px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
                text-align: center;
                color: #888;
            }
            .active, #login, a:hover {
                text-decoration: none;
                color: #e74f4d;
            }
        }
    }
    #underline {
        position: absolute;
        top: 54px;
        right: 502px;
        width: 65px;
        height: 4px;
        background: #e74f4d;
    }
}
header {
    position: relative;
    width: 100%;
    min-width: 1280px;
    margin-top: 58px;
    #banner {
        img, .mask {
            width: 100%;
            height: 100%;
        }
        .mask {
            position: absolute;
            top: 0;
            background: rgba(0, 0, 0, .2);
        }
    }
    #banner-content {
        position: absolute;
        top: 27%;
        left: 9%;
        color: #fff;
        h2 {
            font: 60px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
        }
        p {
            width: 295px;
            margin: 21px 0 0 10px;
            font: 21px/1.5 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
        }
    }
    a {
        display: block;
        position: absolute;
        top: 50%;
        left: 10%;
        width: 294px;
        padding: 18px;
        font: 30px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
        text-align: center;
        color: #fff;
        background: #e8504f;
        &:hover {
            text-decoration: none;
            background: #ff4f4f;
        }
    }
}
main {
    width: 100%;
    min-width: 1280px;
    .intro-wrap {
        width: 1280px;
        height: 250px;
        margin: 0 auto;
        .intro {
            display: inline-block;
            width: 25%;
            img {
                display: block;
                margin: 45px auto;
            }
            .content-wrap {
                width: 100%;
                border-left: 2px solid #767777;
                .intro-content {
                    width: 155px;
                    margin: 0 auto;
                    font: 14px/1.3 "\9ed1\4f53", Tahoma, Helvetica, Arial, sans-serif;
                    text-align: center;
                    color: #767777;
                }
            }
            &:first-child .content-wrap {
                border-left: none;
            }
        }
    }
    #about {
        height: 270px;
        padding-top: 90px;
        background: #ededed;
        img {
            display: block;
            width: 90px;
            height: 90px;
            margin: 0 auto;
        }
        p {
            margin-top: 50px;
            font: 54px/1 "\9ed1\4f53", Tahoma, Helvetica, Arial, sans-serif;
            text-align: center;
            color: #a1a1a1;
        }
    }
    #search {
        position: relative;
        img, .mask {
            width: 100%;
            height: 100%;
        }
        .mask {
            position: absolute;
            top: 0;
            background: rgba(170, 52, 52, .2);
        }
        h3 {
            position: absolute;
            top: 16%;
            width: 100%;
            font: 21px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
            text-align: center;
            color: #fff;
        }
        hr {
            position: absolute;
            top: 25%;
            left: 50%;
            width: 30px;
            margin-left: -15px;
            border-top: 3px solid #fff;
        }
        form {
            position: absolute;
            top: 30%;
            width: 100%;
            fieldset {
                text-align: center;
                legend {
                    margin-bottom: 50px;
                    font: 12px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
                    color: #fff;
                }
                select, input {
                    display: inline-block;
                    width: 235px;
                    height: 35px;
                }
                select {
                    margin-right: 30px;
                    option {
                        color: #a8aaaa;
                        &:first-of-type {
                            display: none;
                        }
                    }
                }
                input {
                    border: none;
                    font: 14px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
                    text-indent: 2em;
                    letter-spacing: 2em;
                    color: #fff;
                    background: #be4e48;
                    &:hover {
                        cursor: pointer;
                        background: #e8504f;
                    }
                }
            }
        }
    }
    #activity {
        width: 100%;
        height: 600px;
        background: #f7f7f7;
        .fig-wrap {
            width: 998px;
            margin: 0 auto;
            padding: 100px 0 115px;
            figure {
                display: inline-block;
                width: 220px;
                height: 390px;
                &:not(:first-child) {
                    margin-left: 37px;
                }
                a {
                    display: block;
                    width: 200px;
                    height: 310px;
                    padding: 13px 8px;
                    border: 1px solid #dadada;
                    background: #f7f7f7;
                    transition: transform 1s;
                }
                figcaption {
                    width: 100%;
                    margin-top: 15px;
                    text-align: center;
                    transition: transform 1s;
                    h5 {
                        margin: 0 -55px 0 -55px;
                        font: 14px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
                        transition: font 1s, text-indent 1s, letter-spacing 1s;
                    }
                    h6 {
                        margin-top: 12px;
                        font: 12px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
                        color: #9f9f9f;
                        transition: margin-top 1s;
                    }
                }
                &:hover {
                    a {
                        transform: translateY(55px);
                    }
                    figcaption {
                        transform: translateY(-350px);
                        h5 {
                            font: 21px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
                            text-indent: 2em;
                            letter-spacing: 2em;
                        }
                        h6 {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
    #gallery {
        overflow: hidden;
        _zoom: 1;
        width: 100%;
        #pic-container {
            position: relative;
            float: left;
            width: 66.4%;
            color: #fff;
            img {
                float: left;
                width: 100%;
                &:nth-of-type(2), &:nth-of-type(3) {
                    display: none;
                }
             }
            h3, h1, h5 {
                position: absolute;
            }
            h3 {
                top: 24%;
                width: 100%;
                text-align: center;
                font: 50px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
            }
            h1 {
                top: 32%;
                width: 100%;
                text-align: center;
                font: 160px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
            }
            h5 {
                top: 65%;
                left: 50%;
                width: 150px;
                margin-left: -75px;
                font: 21px/2 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
            }
            .arrow {
            	position: absolute;
            	right: 0;
            	top: 50%;
            	width: 0;
            	height: 0;
            	margin-top: -15px;
            	border-top: 15px solid transparent;
            	border-right: 25px solid #fff;
            	border-bottom: 15px solid transparent;
            }
        }
        aside {
            float: left;
            width: 33.6%;
            h5 {
                margin-top: 30%;
                font: 21px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
                text-align: center;
                span {
                    color: #e8504f;
                }
            }
            p {
                width: 290px;
                margin: 30px auto;;
                font: 12px/2 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
                color: #a1a1a1;
            }
            .more {
                display: block;
                width: 85px;
                margin: 0 auto;
                padding: 10px;
                border: 1px solid #e8504f;
                font: 12px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
                text-align: center;
                color: #e8504f;
                &:hover {
                    text-decoration: none;
                    color: #fff;
                    background: #e8504f;
                }
            }
            @keyframes carousel {
                
            }
            .switch {
                margin-top: 25px;
                text-align: center;
                a {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border: 1px solid #929292;
                    border-radius: 6px;
                    text-align: center;
                    &:first-child {
                        background: #929292;
                    }
                    &:not(:first-child) {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    #life {
    	position: relative;
        overflow: hidden;
        _zoom: 1;
        width: 100%;
        .more {
            float: left;
            width: 33.2%;
            padding-bottom: 1000px;
            margin-bottom: -1000px;
            h5 {
                margin-top: 41.2%;
                font: 21px/1.5 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
                text-align: center;
            }
            hr {
                width: 30px;
                margin: 25px auto;
            }
            a {
                display: block;
                width: 148px;
                height: 21px;
                margin: 0 auto;
                padding: 10px;
                font: 21px/1 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
                text-align: center;
                &:hover {
                    text-decoration: none;
                }
            }
            &:nth-of-type(1) {
                color: #fff;
                background: #e8504f;
                hr {
                    border-top: 2px solid #fff;
                }
                a {
                    border: 1px solid #fff;
                    color: #fff;
                    &:hover {
                        background: #fff;
                        color: #e8504f;
                    }
                }
            }
            &:nth-of-type(2) {
            	color: #e8504f;
                hr {
                    border-top: 2px solid #e8504f;
                }
                a {
                    border: 1px solid #e8504f;
                    color: #e8504f;
                    &:hover {
                        background: #e8504f;
                        color: #fff;
                    }
                }
            }
        }
        .arrow {
        	position: absolute;
        	left: 66.4%;
        	top: 50%;
        	width: 0;
        	height: 0;
        	margin-top: -15px;
        	border-top: 15px solid transparent;
        	border-bottom: 15px solid transparent;
        	border-left: 25px solid #fff;
        }
        img {
            width: 33.6%;
        }
    }
    #join {
    	width: 100%;
    	#join-wrap {
    		width: 1000px;
    		margin: 120px auto;
    		h5 {
    			font: 21px/1.5 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
   		 		text-align: center;
    		}
    		hr {
    			width: 30px;
    			margin: 10px auto;
    			border-top: 2px solid #e8504f;
    		}
    		p {
    			font: 12px/1.5 "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
    			text-align: center;
    			color: #929292;
    		}
    		
    	}
    }
}