@import "../../styles/variables.scss";
@import "../../styles/mixins/size.scss";
@import "../../styles/mixins/flex-center.scss";
@import "../../styles/mixins/iconfont.scss";

.wrap {
    @include flex-center;
    margin: 6em auto 4.5em;
    .link {
        text-decoration: none;
        .add {
            @include flex-center;
            @include size(9.5em, 2.25em);
            border-radius: .2em;
            box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
            text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
            color: $white;
            background: $orange linear-gradient(rgba(255, 255, 255, .2), transparent);
            &::before {
                @include iconfont($add, 1.5em, .8em);
            }
        }
    }
}